src/xsd/TBC_Extend_HUD_HMIS.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
xmlns="http://xsd.alexandriaconsulting.com/repos/trunk/HUD_HMIS_XML/TBC_Extend_HUD_HMIS.xsd"          
xmlns:hmis="http://www.hudhdx.info/Resources/Vendors/3_0/HUD_HMIS.xsd"
targetNamespace="http://xsd.alexandriaconsulting.com/repos/trunk/HUD_HMIS_XML/TBC_Extend_HUD_HMIS.xsd"
elementFormDefault="qualified"
attributeFormDefault="qualified"
xmlns:ext="http://xsd.alexandriaconsulting.com/repos/trunk/HUD_HMIS_XML/TBC_Extend_HUD_HMIS.xsd">
    <xsd:import namespace="http://www.hudhdx.info/Resources/Vendors/3_0/HUD_HMIS.xsd" schemaLocation="http://www.hudhdx.info/Resources/Vendors/3_0/HUD_HMIS.xsd"/>
    
    <xsd:element name="Sources" type="ext:sources">
        <xsd:annotation>
            <xsd:documentation xml:lang="en">See HMIS XML Version 3.0 Cumulative Package Overview, IV.A.1.</xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    
    <xsd:complexType name="export">
        <xsd:sequence>
            <xsd:element name="ExportID" type="hmis:iDIndex">
                <xsd:annotation>
                    <xsd:documentation xml:lang="en">See HMIS XML Version 3.0 Cumulative Package Overview, Section IV: A.3.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>			
            <xsd:element name="ExportDate" type="xsd:dateTime">
                <xsd:annotation>
                    <xsd:documentation xml:lang="en">See HMIS XML Version 3.0 Cumulative Package Overview, Section IV: A.3.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="ExportPeriod" type="hmis:dateRangeCapped" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation xml:lang="en">See HMIS XML Version 3.0 Cumulative Package Overview, Section IV: A.3.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="Agency" type="hmis:agency" minOccurs="0" maxOccurs="unbounded">
                <xsd:annotation>
                    <xsd:documentation source="2010 HUD HMIS Data and Technical Standards, Section 2.1" xml:lang="en">To uniquely identify an organization that operates a CoC Program within the CoC.</xsd:documentation>
                    <xsd:documentation xml:lang="en">Organization Identifier is mapped to airs:tAgency.Key</xsd:documentation>
                    <xsd:documentation source="2010 HUD HMIS Data and Technical Standards, Section 2.2" xml:lang="en">To identify the name of each organization that operates a CoC Program within the CoC.</xsd:documentation>
                    <xsd:documentation xml:lang="en">Organization Name is mapped to airs:tAgency.Name</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="Household" type="hmis:household" minOccurs="0" maxOccurs="unbounded">
                <xsd:annotation>
                    <xsd:documentation xml:lang="en">See HMIS XML Version 3.0 Cumulative Package Overview, Section IV: B.2.</xsd:documentation>
                </xsd:annotation>   
            </xsd:element>
            <xsd:element name="Person" type="ext:person" minOccurs="0" maxOccurs="unbounded">
                <xsd:annotation>
                    <xsd:documentation xml:lang="en">See HMIS XML Version 3.0 Cumulative Package Overview, Section IV: B.3.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="Service" type="hmis:service" minOccurs="0" maxOccurs="unbounded">
                <xsd:annotation>
                    <xsd:documentation source="2010 HUD HMIS Data and Technical Standards, Section 1.2" xml:lang="en">The 2009 Notice proposes the addition of a set of program descriptor data standards – that is, data to be collected about all homeless assistance and HPRP homelessness prevention programs in the CoC.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="Site" type="hmis:site" minOccurs="0" maxOccurs="unbounded">
                <xsd:annotation>
                    <xsd:documentation xml:lang="en">'Site' is simply a wrapper for AIRS' definition of Site, so separate AIRS XML doesn't need to be conveyed with HMIS XML to describe the AIRS Agency/Site/Service model.</xsd:documentation>
                    <xsd:documentation xml:lang="en">See HMIS XML Version 3.0 Cumulative Package Overview, Section IV: B.5.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="SiteService" type="hmis:siteService" minOccurs="0" maxOccurs="unbounded">
                <xsd:annotation>
                    <xsd:documentation xml:lang="en">See HMIS XML Version 3.0 Cumulative Package Overview, Section IV: B.6.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType> 
    
    <xsd:complexType name="person">
        <xsd:sequence>
            <xsd:element name="PersonID" type="hmis:iDIndex">
                <xsd:annotation>
                    <xsd:documentation source="2010 HUD HMIS Data and Technical Standards, Section 3.14" xml:lang="en">"Every client receiving services from a contributory CoC program within a CoC is assigned a Personal Identification Number (PIN), which is a permanent and unique number generated by the HMIS application.  The PIN is used to obtain an unduplicated count of persons served within a CoC."</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="DateOfBirth" type="hmis:dOBHashingChoice" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation source="2010 HUD HMIS Data and Technical Standards, Section 3.3" xml:lang="en">The date of birth can be used to calculate the age of persons served at time of program entry or at any point in receiving services.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="Ethnicity" type="hmis:fourValDKRefusedHashingChoice" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation source="2010 HUD HMIS Data and Technical Standards, Section 3.5" xml:lang="en">"Ethnicity is used to count the number of homeless persons who identify themselves as Hispanic or Latino."</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="Gender" type="hmis:sevenValDKRefusedHashingChoice" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation source="2010 HUD HMIS Data and Technical Standards, Section 3.6" xml:lang="en">"To create separate counts of homeless men, women and transgendered clients served."</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="LegalFirstName" type="hmis:hashingChoiceStamped" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation source="2010 HUD HMIS Data and Technical Standards, Section 3.1" xml:lang="en">"The first, middle, last names, and suffix should be collected to support the unique identification of each person served."</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="LegalLastName" type="hmis:hashingChoiceStamped" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation source="2010 HUD HMIS Data and Technical Standards, Section 3.1" xml:lang="en">"The first, middle, last names, and suffix should be collected to support the unique identification of each person served."</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="LegalMiddleName" type="hmis:hashingChoiceStamped" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation source="2010 HUD HMIS Data and Technical Standards, Section 3.1" xml:lang="en">"The first, middle, last names, and suffix should be collected to support the unique identification of each person served."</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="LegalSuffix" type="hmis:hashingChoiceStamped" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation source="2010 HUD HMIS Data and Technical Standards, Section 3.1" xml:lang="en">"The first, middle, last names, and suffix should be collected to support the unique identification of each person served."</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="Need" type="hmis:need" minOccurs="0" maxOccurs="unbounded">
                <xsd:annotation>
                    <xsd:documentation xml:lang="en">See HMIS XML Version 3.0 Cumulative Package Overview, Section IV: B.3.e.i..</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="OtherNames" type="hmis:otherNames" minOccurs="0" maxOccurs="unbounded">
                <xsd:annotation>
                    <xsd:documentation xml:lang="en">Aliases, nicknames, non-legal names.  See HMIS XML Version 3.0 Cumulative Package Overview, IV.B.3.a..</xsd:documentation>
                </xsd:annotation>
            </xsd:element>	
            <xsd:element name="PersonHistorical" type="hmis:personHistorical" minOccurs="0" maxOccurs="unbounded">
                <xsd:annotation>
                    <xsd:documentation xml:lang="en">See HMIS XML Version 3.0 Cumulative Package Overview, Section IV: B.3.b..</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="Race" type="hmis:sevenValDKRefused2HashingChoiceStatic" minOccurs="0" maxOccurs="unbounded">
                <xsd:annotation>
                    <xsd:documentation source="2010 HUD HMIS Data and Technical Standards, Section 3.4" xml:lang="en">Race is used to count the number of homeless persons who identify themselves within five different racial categories.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="ReleaseOfInformation" type="hmis:releaseOfInformation" minOccurs="0" maxOccurs="unbounded">
                <xsd:annotation>
                    <xsd:documentation xml:lang="en">See HMIS XML Version 3.0 Cumulative Package Overview, Section IV: B.3.c..</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="ServiceEvent" type="ext:serviceEvent" minOccurs="0" maxOccurs="unbounded">
                <xsd:annotation>
                    <xsd:documentation>The existence of a service event outside a SiteServiceParticipation is to be used when the person is not enrolled in a SiteService.  One use of this could be for point-in-time counts.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="SiteServiceParticipation" type="hmis:siteServiceParticipation" minOccurs="0" maxOccurs="unbounded">
                <xsd:annotation>
                    <xsd:documentation xml:lang="en">See HMIS XML Version 3.0 Cumulative Package Overview, Section IV: B.3.e..</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="SocialSecurityNumber" type="hmis:sSNHashingChoice" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation source="2010 HUD HMIS Data and Technical Standards, Section 3.2" xml:lang="en">"Where data are shared across programs, the SSN greatly improves the process of identifying clients who have been served and allows programs to de-duplicate upon program entry.  Second, an important Congressional goal is to increase the use of mainstream programs by homeless persons. To achieve this goal, homeless service providers need the SSN along with the other personal identifiers in order to access mainstream services for theirclients."</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>
    
    <xsd:complexType name="referral">
        <xsd:sequence>
            <xsd:element name="ReferralID" type="hmis:iDIndex"/>
            <xsd:element name="AgencyReferredToID" type="hmis:id"/>
            <xsd:element name="AgencyReferredToName" type="hmis:string100"/>
            <xsd:choice>
                <xsd:element name="Need" type="hmis:need"/>
                <xsd:element name="NeedID" type="hmis:id"/>
            </xsd:choice>
        </xsd:sequence>
    </xsd:complexType>
    
    <xsd:complexType name="referrals">
        <xsd:sequence>
            <xsd:element name="Referral" type="referral" maxOccurs="unbounded"/>
        </xsd:sequence>
    </xsd:complexType>
    
    <xsd:complexType name="serviceEvent">
        <xsd:sequence>
            <xsd:element name="ServiceEventID" type="hmis:iDIndex">
                <xsd:annotation>
                    <xsd:documentation xml:lang="en">See HMIS XML Version 3.0 Cumulative Package Overview, IV.B.3.d..</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="SiteServiceID" type="xsd:nonNegativeInteger">
                <xsd:annotation>
                    <xsd:documentation xml:lang="en">Links the ServiceEvent to a particular SiteService</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="HouseholdID" type="hmis:id" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation xml:lang="en">If the person's entire household is also receiving the service, insert the ID of the household receiving this same ServiceEvent.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="FundingSources" type="hmis:fundingSourcesServiceEvent" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation xml:lang="en">Tracks the fund that paid for the service event.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="IsReferral" type="hmis:twoValBase" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation xml:lang="en">See HMIS XML Version 3.0 Cumulative Package Overview, Section 3: VI.11.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="QuantityOfServiceEvent" type="xsd:nonNegativeInteger" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation xml:lang="en">See HMIS XML Version 3.0 Cumulative Package Overview, Section 3: VI.11.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="QuantityOfServiceEventUnit" type="hmis:unit" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation xml:lang="en">See HMIS XML Version 3.0 Cumulative Package Overview, Section 3: VI.11.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="Referrals" type="ext:referrals" minOccurs="0"/>
            <xsd:element name="ServiceEventAIRSCode" type="hmis:string50Base" minOccurs="0">	
                <xsd:annotation>
                    <xsd:documentation xml:lang="en">See HMIS XML Version 3.0 Cumulative Package Overview, Section 3: VI.11.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="ServiceEventEffectivePeriod" type="hmis:dateRangeOpen" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation source="2010 HUD HMIS Data and Technical Standards, Section 4.15H" xml:lang="en">"Record “date of service” as the two-digit month, two-digit day and four-digit year."</xsd:documentation>
                    <xsd:documentation xml:lang="en">This data element allows a period of time for the service, instead of just a single date, which is also valid.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="ServiceEventProvisionDate" type="xsd:date" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation source="" xml:lang="en">"Record “date of service” as the two-digit month, two-digit day and four-digit year."</xsd:documentation>
                    <xsd:documentation xml:lang="en">This data element tracks the date the service was given out.  This can be used for tracking date arrearage payments made.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="ServiceEventRecordedDate" type="xsd:dateTime" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation xml:lang="en">This is simply the date the ServiceEvent was recorded in the HMIS system.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="ServiceEventNotes" type="hmis:notes" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation xml:lang="en">Any case manager or other notes regarding the service event.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>	
            <xsd:element name="ServiceEventIndFam" type="hmis:twoValBase" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation xml:lang="en">See HMIS XML Version 3.0 Cumulative Package Overview, Section 3: VI.11.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:choice>
                <xsd:element name="HMISServiceEventCode" type="hmis:hMISServiceEvent">
                    <xsd:annotation>
                        <xsd:documentation xml:lang="en">Groups HMIS Service Type with free text other response.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="HPRPFinancialAssistanceServiceEventCode" type="hmis:sixValBase" minOccurs="0">
                    <xsd:annotation>
                        <xsd:documentation source="2010 HUD HMIS Data and Technical Standards, Section 4.13" xml:lang="en">To determine the type of financial assistance (including rental assistance,security deposits, utility deposits, utility payments, moving cost assistance, and motel and hotel vouchers) and amount provided during program participation.</xsd:documentation>
                        <xsd:documentation source="2010 HUD HMIS Data and Technical Standards, Section 4.13" xml:lang="en">Response categories for the types of financial assistance are consistent with the requirements of the HPRP Notice (FR-5307-N-01).</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>  
                <xsd:element name="HPRPRelocationStabilizationServiceEventCode" type="hmis:fiveValBase">
                    <xsd:annotation>
                        <xsd:documentation source="2010 HUD HMIS Data and Technical Standards, Section 4.14" xml:lang="en">To determine the housing relocation and stabilization services provided during program participation. This data element is required for HPRP-funded programs in order to complete the QPR and APR.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
            </xsd:choice>
        </xsd:sequence>
    </xsd:complexType>
    
    <xsd:complexType name="source">
        <xsd:sequence>                   
            <xsd:element name="SourceID" type="hmis:iDIndex">
                <xsd:annotation>
                    <xsd:documentation xml:lang="en">See HMIS XML Version 3.0 Cumulative Package Overview, IV.A.2.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="SoftwareVendor" type="hmis:string50Base">
                <xsd:annotation>
                    <xsd:documentation xml:lang="en">See HMIS XML Version 3.0 Cumulative Package Overview, IV.A.2.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="SoftwareVersion" type="hmis:version">
                <xsd:annotation>
                    <xsd:documentation xml:lang="en">See HMIS XML Version 3.0 Cumulative Package Overview, IV.A.2.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="SourceContactEmail" type="hmis:emailBase" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation xml:lang="en">See HMIS XML Version 3.0 Cumulative Package Overview, IV.A.2..</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="SourceContactExtension" type="hmis:extension" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation xml:lang="en">See HMIS XML Version 3.0 Cumulative Package Overview, IV.A.2..</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="SourceContactFirst" type="hmis:string20Base" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation xml:lang="en">See HMIS XML Version 3.0 Cumulative Package Overview, IV.A.2..</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="SourceContactLast" type="hmis:string20Base" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation xml:lang="en">See HMIS XML Version 3.0 Cumulative Package Overview, IV.A.2..</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="SourceContactPhone" type="hmis:phoneNumberBase" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation xml:lang="en">See HMIS XML Version 3.0 Cumulative Package Overview, IV.A.2..</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="SourceName" type="hmis:string50Base">
                <xsd:annotation>
                    <xsd:documentation xml:lang="en">See HMIS XML Version 3.0 Cumulative Package Overview, IV.A.2..</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="Export" type="ext:export" minOccurs="0" maxOccurs="unbounded">
                <xsd:annotation>
                    <xsd:documentation xml:lang="en">See HMIS XML Version 3.0 Cumulative Package Overview, IV.A.3..</xsd:documentation>
                </xsd:annotation>                   
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>
    
    <xsd:complexType name="sources">
        <xsd:sequence>
            <xsd:element name="Source" type="ext:source" minOccurs="1" maxOccurs="unbounded">
                <xsd:annotation>
                    <xsd:documentation xml:lang="en">See HMIS XML Version 3.0 Cumulative Package Overview, IV.A.2..</xsd:documentation>	
                </xsd:annotation>
            </xsd:element>
        </xsd:sequence>
        <xsd:attribute name="version" type="hmis:version">
            <xsd:annotation>
                <xsd:documentation xml:lang="en">The version number of HMIS XML Schema the XML instance document conforms to (e.g. 3.0).</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
    </xsd:complexType>
    
</xsd:schema>