src/xsd/versions/sp5/sp5.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
	<xsd:include schemaLocation="sp_attrib_groups.xsd" />
	<xsd:include schemaLocation="sp_simple_types.xsd" />
	<xsd:include schemaLocation="sp_dynamic_content.xsd" />
	<xsd:complexType name="serviceCodeType">
		<xsd:simpleContent>
			<xsd:extension base="tok250Type">
				<xsd:attribute name="type" type="tok30Type" use="required" />
			</xsd:extension>
		</xsd:simpleContent>
	</xsd:complexType>
	<xsd:element name="records">
		<xsd:complexType>
			<xsd:all>
				<xsd:element name="actionstepRecords" minOccurs="0"
					maxOccurs="1">
					<xsd:complexType>
						<xsd:sequence>
							<xsd:element name="Actionstep" type="Actionstep"
								minOccurs="0" maxOccurs="unbounded" />
						</xsd:sequence>
					</xsd:complexType>
				</xsd:element>
				<xsd:element name="casenoteRecords" minOccurs="0"
					maxOccurs="1">
					<xsd:complexType>
						<xsd:sequence>
							<xsd:element name="Casenote" type="Casenote"
								minOccurs="0" maxOccurs="unbounded" />
						</xsd:sequence>
					</xsd:complexType>
				</xsd:element>
				<xsd:element name="clientRecords" minOccurs="0"
					maxOccurs="1">
					<xsd:complexType>
						<xsd:sequence>
							<xsd:element name="Client" type="Client" minOccurs="0"
								maxOccurs="unbounded" />
						</xsd:sequence>
					</xsd:complexType>
				</xsd:element>
				<xsd:element name="entryExitRecords" minOccurs="0"
					maxOccurs="1">
					<xsd:complexType>
						<xsd:sequence>
							<xsd:element name="EntryExit" type="EntryExit"
								minOccurs="0" maxOccurs="unbounded" />
						</xsd:sequence>
					</xsd:complexType>
				</xsd:element>
				<xsd:element name="goalRecords" minOccurs="0" maxOccurs="1">
					<xsd:complexType>
						<xsd:sequence>
							<xsd:element name="Goal" type="Goal" minOccurs="0"
								maxOccurs="unbounded" />
						</xsd:sequence>
					</xsd:complexType>
				</xsd:element>
				<xsd:element name="householdRecords" minOccurs="0"
					maxOccurs="1">
					<xsd:complexType>
						<xsd:sequence>
							<xsd:element name="Household" type="Household"
								minOccurs="0" maxOccurs="unbounded" />
						</xsd:sequence>
					</xsd:complexType>
				</xsd:element>
				<xsd:element name="householdRelationRecords" minOccurs="0"
					maxOccurs="1">
					<xsd:complexType>
						<xsd:sequence>
							<xsd:element name="HouseholdRelation" type="HouseholdRelation"
								minOccurs="0" maxOccurs="unbounded" />
						</xsd:sequence>
					</xsd:complexType>
				</xsd:element>
				<xsd:element name="infractionRecords" minOccurs="0"
					maxOccurs="1">
					<xsd:complexType>
						<xsd:sequence>
							<xsd:element name="Infraction" type="Infraction"
								minOccurs="0" maxOccurs="unbounded" />
						</xsd:sequence>
					</xsd:complexType>
				</xsd:element>
				<xsd:element name="needRecords" minOccurs="0" maxOccurs="1">
					<xsd:complexType>
						<xsd:sequence>
							<xsd:element name="Need" type="Need" minOccurs="0"
								maxOccurs="unbounded" />
						</xsd:sequence>
					</xsd:complexType>
				</xsd:element>
				<xsd:element name="providerRecords" minOccurs="0"
					maxOccurs="1">
					<xsd:complexType>
						<xsd:sequence>
							<xsd:element name="Provider" type="Provider"
								minOccurs="0" maxOccurs="unbounded" />
						</xsd:sequence>
					</xsd:complexType>
				</xsd:element>
				<xsd:element name="providerAddressRecords" minOccurs="0"
					maxOccurs="1">
					<xsd:complexType>
						<xsd:sequence>
							<xsd:element name="ProviderAddress" type="ProviderAddress"
								minOccurs="0" maxOccurs="unbounded" />
						</xsd:sequence>
					</xsd:complexType>
				</xsd:element>
				<xsd:element name="providerContactRecords" minOccurs="0"
					maxOccurs="1">
					<xsd:complexType>
						<xsd:sequence>
							<xsd:element name="ProviderContact" type="ProviderContact"
								minOccurs="0" maxOccurs="unbounded" />
						</xsd:sequence>
					</xsd:complexType>
				</xsd:element>
				<xsd:element name="providerEmergencyServiceCodeRecords"
					minOccurs="0" maxOccurs="1">
					<xsd:complexType>
						<xsd:sequence>
							<xsd:element name="ProviderEmergencyServiceCode"
								type="ProviderEmergencyServiceCode" minOccurs="0" maxOccurs="unbounded" />
						</xsd:sequence>
					</xsd:complexType>
				</xsd:element>
				<xsd:element name="providerServedAreaRecords" minOccurs="0"
					maxOccurs="1">
					<xsd:complexType>
						<xsd:sequence>
							<xsd:element name="ProviderServedArea" type="ProviderServedArea"
								minOccurs="0" maxOccurs="unbounded" />
						</xsd:sequence>
					</xsd:complexType>
				</xsd:element>
				<xsd:element name="providerServedCityRecords" minOccurs="0"
					maxOccurs="1">
					<xsd:complexType>
						<xsd:sequence>
							<xsd:element name="ProviderServedCity" type="ProviderServedCity"
								minOccurs="0" maxOccurs="unbounded" />
						</xsd:sequence>
					</xsd:complexType>
				</xsd:element>
				<xsd:element name="providerServedCountyRecords"
					minOccurs="0" maxOccurs="1">
					<xsd:complexType>
						<xsd:sequence>
							<xsd:element name="ProviderServedCounty" type="ProviderServedCounty"
								minOccurs="0" maxOccurs="unbounded" />
						</xsd:sequence>
					</xsd:complexType>
				</xsd:element>
				<xsd:element name="providerServedStateRecords"
					minOccurs="0" maxOccurs="1">
					<xsd:complexType>
						<xsd:sequence>
							<xsd:element name="ProviderServedState" type="ProviderServedState"
								minOccurs="0" maxOccurs="unbounded" />
						</xsd:sequence>
					</xsd:complexType>
				</xsd:element>
				<xsd:element name="providerServedZipCodeRecords"
					minOccurs="0" maxOccurs="1">
					<xsd:complexType>
						<xsd:sequence>
							<xsd:element name="ProviderServedZipCode" type="ProviderServedZipCode"
								minOccurs="0" maxOccurs="unbounded" />
						</xsd:sequence>
					</xsd:complexType>
				</xsd:element>
				<xsd:element name="providerServiceCodeRecords"
					minOccurs="0" maxOccurs="1">
					<xsd:complexType>
						<xsd:sequence>
							<xsd:element name="ProviderServiceCode" type="ProviderServiceCode"
								minOccurs="0" maxOccurs="unbounded" />
						</xsd:sequence>
					</xsd:complexType>
				</xsd:element>
				<xsd:element name="providerServiceCodeModifierRecords"
					minOccurs="0" maxOccurs="1">
					<xsd:complexType>
						<xsd:sequence>
							<xsd:element name="ProviderServiceCodeModifier" type="ProviderServiceCodeModifier"
								minOccurs="0" maxOccurs="unbounded" />
						</xsd:sequence>
					</xsd:complexType>
				</xsd:element>
				<xsd:element name="providerServiceUnitRecords"
					minOccurs="0" maxOccurs="1">
					<xsd:complexType>
						<xsd:sequence>
							<xsd:element name="ProviderServiceUnit" type="ProviderServiceUnit"
								minOccurs="0" maxOccurs="unbounded" />
						</xsd:sequence>
					</xsd:complexType>
				</xsd:element>
				<xsd:element name="providerSpecificServiceRecords"
					minOccurs="0" maxOccurs="1">
					<xsd:complexType>
						<xsd:sequence>
							<xsd:element name="ProviderSpecificService" type="ProviderSpecificService"
								minOccurs="0" maxOccurs="unbounded" />
						</xsd:sequence>
					</xsd:complexType>
				</xsd:element>
				<xsd:element name="releaseOfInfoRecords" minOccurs="0"
					maxOccurs="1">
					<xsd:complexType>
						<xsd:sequence>
							<xsd:element name="ReleaseOfInfo" type="ReleaseOfInfo"
								minOccurs="0" maxOccurs="unbounded" />
						</xsd:sequence>
					</xsd:complexType>
				</xsd:element>
				<xsd:element name="serviceRecords" minOccurs="0"
					maxOccurs="1">
					<xsd:complexType>
						<xsd:sequence>
							<xsd:element name="Service" type="Service" minOccurs="0"
								maxOccurs="unbounded" />
						</xsd:sequence>
					</xsd:complexType>
				</xsd:element>
				<xsd:element name="serviceFundingSourceRecords"
					minOccurs="0" maxOccurs="1">
					<xsd:complexType>
						<xsd:sequence>
							<xsd:element name="ServiceFundingSource" type="ServiceFundingSource"
								minOccurs="0" maxOccurs="unbounded" />
						</xsd:sequence>
					</xsd:complexType>
				</xsd:element>
			</xsd:all>
			<xsd:attribute name="odb_identifier" type="tok100Type"
				use="optional" />
			<xsd:attribute name="import_identifier" type="tok100Type"
				use="optional" />
		</xsd:complexType>
		<xsd:key name="idKey">
			<xsd:selector xpath="*/*" />
			<xsd:field xpath="@record_id" />
		</xsd:key>
	</xsd:element>
	<xsd:complexType name="Actionstep">
		<xsd:all>
			<xsd:element name="active" minOccurs="0" maxOccurs="1"
				type="xsd:boolean" />
			<xsd:element name="client" maxOccurs="1" type="legacyIDType"
				minOccurs="0" />
			<xsd:element name="provider" maxOccurs="1" type="legacyIDType"
				minOccurs="1" />
			<xsd:element name="goal" maxOccurs="1" type="legacyIDType"
				minOccurs="0" />
			<xsd:element name="dateSet" minOccurs="0" maxOccurs="1"
				type="xsd:dateTime" />
			<xsd:element name="description" minOccurs="1" maxOccurs="1">
				<xsd:simpleType>
					<xsd:restriction base="xsd:token">
						<xsd:maxLength value="2147483647" />
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="targetDate" minOccurs="0" maxOccurs="1"
				type="xsd:dateTime" />
			<xsd:element name="status" minOccurs="1" maxOccurs="1">
				<xsd:simpleType>
					<xsd:union>
						<xsd:simpleType>
							<xsd:restriction base="xsd:token">
								<xsd:maxLength value="100" />
							</xsd:restriction>
						</xsd:simpleType>
						<xsd:simpleType>
							<xsd:restriction base="xsd:token">
								<xsd:enumeration value="closed" />
								<xsd:enumeration value="identified" />
								<xsd:enumeration value="in progress" />
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:union>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="outcome" minOccurs="0" maxOccurs="1">
				<xsd:simpleType>
					<xsd:union>
						<xsd:simpleType>
							<xsd:restriction base="xsd:token">
								<xsd:maxLength value="100" />
							</xsd:restriction>
						</xsd:simpleType>
						<xsd:simpleType>
							<xsd:restriction base="xsd:token">
								<xsd:enumeration value="abandoned" />
								<xsd:enumeration value="achieved" />
								<xsd:enumeration value="goal revised" />
								<xsd:enumeration value="partially achieved" />
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:union>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="outcomeDate" minOccurs="0" maxOccurs="1"
				type="xsd:dateTime" />
			<xsd:element name="projectedFollowupDate" minOccurs="0"
				maxOccurs="1" type="xsd:dateTime" />
			<xsd:element name="followupMade" minOccurs="0" maxOccurs="1"
				type="xsd:boolean" />
			<xsd:element name="actualFollowupDate" minOccurs="0"
				maxOccurs="1" type="xsd:dateTime" />
			<xsd:element name="followupOutcome" minOccurs="0"
				maxOccurs="1">
				<xsd:simpleType>
					<xsd:union>
						<xsd:simpleType>
							<xsd:restriction base="xsd:token">
								<xsd:maxLength value="100" />
							</xsd:restriction>
						</xsd:simpleType>
						<xsd:simpleType>
							<xsd:restriction base="xsd:token">
								<xsd:enumeration value="abandoned" />
								<xsd:enumeration value="achieved" />
								<xsd:enumeration value="goal revised" />
								<xsd:enumeration value="partially achieved" />
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:union>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="household" maxOccurs="1" type="legacyIDType"
				minOccurs="0" />
		</xsd:all>
		<xsd:attributeGroup ref="entityIdentifierGroup" />
	</xsd:complexType>
	<xsd:complexType name="Casenote">
		<xsd:all>
			<xsd:element name="active" minOccurs="0" maxOccurs="1"
				type="xsd:boolean" />
			<xsd:element name="client" maxOccurs="1" type="legacyIDType"
				minOccurs="0" />
			<xsd:element name="provider" maxOccurs="1" type="legacyIDType"
				minOccurs="1" />
			<xsd:element name="goal" maxOccurs="1" type="legacyIDType"
				minOccurs="0" />
			<xsd:element name="noteDate" minOccurs="0" maxOccurs="1"
				type="xsd:dateTime" />
			<xsd:element name="note" minOccurs="1" maxOccurs="1">
				<xsd:simpleType>
					<xsd:restriction base="xsd:token">
						<xsd:maxLength value="2147483647" />
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
		</xsd:all>
		<xsd:attributeGroup ref="entityIdentifierGroup" />
	</xsd:complexType>
	<xsd:complexType name="Client">
		<xsd:all>
			<xsd:element name="active" minOccurs="0" maxOccurs="1"
				type="xsd:boolean" />
			<xsd:element name="anonymous" minOccurs="0" maxOccurs="1"
				type="xsd:boolean" />
			<xsd:element name="firstName" minOccurs="1" maxOccurs="1">
				<xsd:simpleType>
					<xsd:restriction base="xsd:token">
						<xsd:maxLength value="30" />
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="lastName" minOccurs="1" maxOccurs="1">
				<xsd:simpleType>
					<xsd:restriction base="xsd:token">
						<xsd:maxLength value="30" />
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="suffix" minOccurs="0" maxOccurs="1">
				<xsd:simpleType>
					<xsd:restriction base="xsd:token">
						<xsd:maxLength value="10" />
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="socSecNoDashed" minOccurs="0"
				maxOccurs="1">
				<xsd:simpleType>
					<xsd:restriction base="xsd:token">
						<xsd:maxLength value="11" />
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="ssnDataQualityValue" minOccurs="0"
				maxOccurs="1">
				<xsd:simpleType>
					<xsd:union>
						<xsd:simpleType>
							<xsd:restriction base="xsd:token">
								<xsd:maxLength value="100" />
							</xsd:restriction>
						</xsd:simpleType>
						<xsd:simpleType>
							<xsd:restriction base="xsd:token">
								<xsd:enumeration value="don't know or don't have ssn (hud)" />
								<xsd:enumeration value="full ssn reported (hud)" />
								<xsd:enumeration value="partial ssn reported (hud)" />
								<xsd:enumeration value="refused (hud)" />
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:union>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="unnamedClient" minOccurs="0"
				maxOccurs="1" type="xsd:boolean" />
			<xsd:element name="alias" minOccurs="0" maxOccurs="1">
				<xsd:simpleType>
					<xsd:restriction base="xsd:token">
						<xsd:maxLength value="255" />
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="middleName" minOccurs="0" maxOccurs="1">
				<xsd:simpleType>
					<xsd:restriction base="xsd:token">
						<xsd:maxLength value="30" />
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="childEntryExit" minOccurs="0"
				maxOccurs="1">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="EntryExit" type="EntryExit"
							minOccurs="0" maxOccurs="unbounded" />
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="childReleaseOfInfo" minOccurs="0"
				maxOccurs="1">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="ReleaseOfInfo" type="ReleaseOfInfo"
							minOccurs="0" maxOccurs="unbounded" />
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="childGoal" minOccurs="0" maxOccurs="1">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="Goal" type="Goal" minOccurs="0"
							maxOccurs="unbounded" />
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="childInfraction" minOccurs="0"
				maxOccurs="1">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="Infraction" type="Infraction"
							minOccurs="0" maxOccurs="unbounded" />
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="childNeed" minOccurs="0" maxOccurs="1">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="Need" type="Need" minOccurs="0"
							maxOccurs="unbounded" />
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="assessmentData" type="dynamicContentType"
				minOccurs="0" maxOccurs="1" />
		</xsd:all>
		<xsd:attributeGroup ref="entityIdentifierGroup" />
	</xsd:complexType>
	<xsd:complexType name="EntryExit">
		<xsd:all>
			<xsd:element name="active" minOccurs="0" maxOccurs="1"
				type="xsd:boolean" />
			<xsd:element name="typeEntryExit" minOccurs="1"
				maxOccurs="1">
				<xsd:simpleType>
					<xsd:restriction base="xsd:token">
						<xsd:enumeration value="basic" />
						<xsd:enumeration value="basic center program entry/exit" />
						<xsd:enumeration value="hprp" />
						<xsd:enumeration value="hud" />
						<xsd:enumeration value="path" />
						<xsd:enumeration value="quick call" />
						<xsd:enumeration value="standard" />
						<xsd:enumeration value="transitional living program entry/exit" />
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="client" maxOccurs="1" type="legacyIDType"
				minOccurs="0" />
			<xsd:element name="provider" maxOccurs="1" type="legacyIDType"
				minOccurs="1" />
			<xsd:element name="entryDate" minOccurs="0" maxOccurs="1"
				type="xsd:dateTime" />
			<xsd:element name="exitDate" minOccurs="0" maxOccurs="1"
				type="xsd:dateTime" />
			<xsd:element name="reasonLeavingValue" minOccurs="0"
				maxOccurs="1">
				<xsd:simpleType>
					<xsd:union>
						<xsd:simpleType>
							<xsd:restriction base="xsd:token">
								<xsd:maxLength value="100" />
							</xsd:restriction>
						</xsd:simpleType>
						<xsd:simpleType>
							<xsd:restriction base="xsd:token">
								<xsd:enumeration value="completed program" />
								<xsd:enumeration value="criminal activity / violence" />
								<xsd:enumeration value="death" />
								<xsd:enumeration value="disagreement with rules/persons" />
								<xsd:enumeration value="inappropriate intake" />
								<xsd:enumeration
									value="left for housing opp. before completing program" />
								<xsd:enumeration
									value="left for lack of progress before completing program" />
								<xsd:enumeration value="needs could not be met" />
								<xsd:enumeration value="no longer eligible" />
								<xsd:enumeration value="non-compliance with program" />
								<xsd:enumeration value="non-payment of rent" />
								<xsd:enumeration value="other" />
								<xsd:enumeration value="outreach contact" />
								<xsd:enumeration value="placement" />
								<xsd:enumeration value="reached maximum time allowed" />
								<xsd:enumeration value="relocated" />
								<xsd:enumeration value="time allowed expired" />
								<xsd:enumeration value="unknown/disappeared" />
								<xsd:enumeration
									value="voluntary withdrawl/left before completing program" />
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:union>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="reasonLeavingOther" minOccurs="0"
				maxOccurs="1">
				<xsd:simpleType>
					<xsd:restriction base="xsd:token">
						<xsd:maxLength value="100" />
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="destinationValue" minOccurs="0"
				maxOccurs="1">
				<xsd:simpleType>
					<xsd:union>
						<xsd:simpleType>
							<xsd:restriction base="xsd:token">
								<xsd:maxLength value="100" />
							</xsd:restriction>
						</xsd:simpleType>
						<xsd:simpleType>
							<xsd:restriction base="xsd:token">
								<xsd:enumeration value="deceased (hud)" />
								<xsd:enumeration value="don't know (hud)" />
								<xsd:enumeration
									value="emergency shelter, including hotel or motel paid for with emergency shelter voucher (hud)" />
								<xsd:enumeration
									value="foster care home or foster care group home (hud)" />
								<xsd:enumeration value="hospital (non-psychiatric) (hud)" />
								<xsd:enumeration
									value="hotel or motel paid for without emergency shelter voucher (hud)" />
								<xsd:enumeration
									value="jail, prison or juvenile detention facility (hud)" />
								<xsd:enumeration value="other (hud)" />
								<xsd:enumeration value="owned by client, no housing subsidy (hud)" />
								<xsd:enumeration value="owned by client, with housing subsidy (hud)" />
								<xsd:enumeration
									value="permanent supportive housing for formerly homeless persons(such as shp, s+c, or sro mod rehab)(hud)" />
								<xsd:enumeration
									value="place not meant for habitation (e.g., a vehicle or anywhere outside) (hud)" />
								<xsd:enumeration
									value="psychiatric hospital or other psychiatric facility (hud)" />
								<xsd:enumeration value="refused (hud)" />
								<xsd:enumeration value="rental by client, no housing subsidy (hud)" />
								<xsd:enumeration
									value="rental by client, other (non-vash) housing subsidy (hud)" />
								<xsd:enumeration value="rental by client, vash subsidy (hud)" />
								<xsd:enumeration value="safe haven (hud)" />
								<xsd:enumeration
									value="staying or living with family, permanent tenure (hud)" />
								<xsd:enumeration
									value="staying or living with family, temporary tenure (e.g., room, apartment or house)(hud)" />
								<xsd:enumeration
									value="staying or living with friends, permanent tenure (hud)" />
								<xsd:enumeration
									value="staying or living with friends, temporary tenure (e.g., room apartment or house)(hud)" />
								<xsd:enumeration
									value="substance abuse treatment facility or detox center (hud)" />
								<xsd:enumeration
									value="transitional housing for homeless persons (including homeless youth) (hud)" />
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:union>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="destinationOther" minOccurs="0"
				maxOccurs="1">
				<xsd:simpleType>
					<xsd:restriction base="xsd:token">
						<xsd:maxLength value="100" />
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="notes" minOccurs="0" maxOccurs="1">
				<xsd:simpleType>
					<xsd:restriction base="xsd:token">
						<xsd:maxLength value="2147483647" />
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="group" minOccurs="0" maxOccurs="1">
				<xsd:simpleType>
					<xsd:restriction base="xsd:token">
						<xsd:maxLength value="256" />
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="household" maxOccurs="1" type="legacyIDType"
				minOccurs="0" />
			<xsd:element name="tenureValue" minOccurs="0" maxOccurs="1">
				<xsd:simpleType>
					<xsd:restriction base="xsd:token">
						<xsd:enumeration value="don't know" />
						<xsd:enumeration value="permanent" />
						<xsd:enumeration value="refused" />
						<xsd:enumeration value="transitional" />
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="subsidyValue" minOccurs="0" maxOccurs="1">
				<xsd:simpleType>
					<xsd:restriction base="xsd:token">
						<xsd:enumeration value="don't know" />
						<xsd:enumeration value="home program" />
						<xsd:enumeration value="hopwa program" />
						<xsd:enumeration value="none" />
						<xsd:enumeration value="other housing subsidy" />
						<xsd:enumeration value="public housing" />
						<xsd:enumeration value="refused" />
						<xsd:enumeration value="s+c" />
						<xsd:enumeration value="section 8" />
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
		</xsd:all>
		<xsd:attributeGroup ref="entityIdentifierGroup" />
	</xsd:complexType>
	<xsd:complexType name="Goal">
		<xsd:all>
			<xsd:element name="active" minOccurs="0" maxOccurs="1"
				type="xsd:boolean" />
			<xsd:element name="client" maxOccurs="1" type="legacyIDType"
				minOccurs="0" />
			<xsd:element name="provider" maxOccurs="1" type="legacyIDType"
				minOccurs="1" />
			<xsd:element name="dateSet" minOccurs="0" maxOccurs="1"
				type="xsd:dateTime" />
			<xsd:element name="classification" minOccurs="1"
				maxOccurs="1">
				<xsd:simpleType>
					<xsd:union>
						<xsd:simpleType>
							<xsd:restriction base="xsd:token">
								<xsd:maxLength value="100" />
							</xsd:restriction>
						</xsd:simpleType>
						<xsd:simpleType>
							<xsd:restriction base="xsd:token">
								<xsd:enumeration value="aa/na" />
								<xsd:enumeration value="counseling" />
								<xsd:enumeration value="education" />
								<xsd:enumeration value="employment" />
								<xsd:enumeration value="financial stability" />
								<xsd:enumeration value="health improvement" />
								<xsd:enumeration value="housing" />
								<xsd:enumeration value="interpersonal relationships" />
								<xsd:enumeration value="legal" />
								<xsd:enumeration value="medical" />
								<xsd:enumeration value="mental health treatment" />
								<xsd:enumeration value="notes" />
								<xsd:enumeration value="other" />
								<xsd:enumeration value="self sufficiency" />
								<xsd:enumeration value="substance abuse treatment" />
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:union>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="type" minOccurs="1" maxOccurs="1">
				<xsd:simpleType>
					<xsd:union>
						<xsd:simpleType>
							<xsd:restriction base="xsd:token">
								<xsd:maxLength value="100" />
							</xsd:restriction>
						</xsd:simpleType>
						<xsd:simpleType>
							<xsd:restriction base="xsd:token">
								<xsd:enumeration value="30 days sobriety" />
								<xsd:enumeration value="attend aa" />
								<xsd:enumeration value="case notes" />
								<xsd:enumeration value="eliminate anxiety" />
								<xsd:enumeration value="gain ability to budget" />
								<xsd:enumeration value="gain access to regular health care" />
								<xsd:enumeration value="get a job" />
								<xsd:enumeration value="get a promotion" />
								<xsd:enumeration value="get a raise" />
								<xsd:enumeration value="get ged" />
								<xsd:enumeration value="graduate college" />
								<xsd:enumeration value="graduate highschool" />
								<xsd:enumeration value="improve credit rating" />
								<xsd:enumeration value="improve family relationships" />
								<xsd:enumeration value="improve wages" />
								<xsd:enumeration value="job training" />
								<xsd:enumeration value="learn how to communicate better" />
								<xsd:enumeration value="learn to accept authority" />
								<xsd:enumeration value="move to permanent housing" />
								<xsd:enumeration value="obtain mainstream resources" />
								<xsd:enumeration value="obtain supportive housing" />
								<xsd:enumeration value="other" />
								<xsd:enumeration value="relieve depression" />
								<xsd:enumeration value="vocational training" />
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:union>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="targetDate" minOccurs="0" maxOccurs="1"
				type="xsd:dateTime" />
			<xsd:element name="status" minOccurs="1" maxOccurs="1">
				<xsd:simpleType>
					<xsd:union>
						<xsd:simpleType>
							<xsd:restriction base="xsd:token">
								<xsd:maxLength value="100" />
							</xsd:restriction>
						</xsd:simpleType>
						<xsd:simpleType>
							<xsd:restriction base="xsd:token">
								<xsd:enumeration value="closed" />
								<xsd:enumeration value="identified" />
								<xsd:enumeration value="in progress" />
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:union>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="outcome" minOccurs="0" maxOccurs="1">
				<xsd:simpleType>
					<xsd:union>
						<xsd:simpleType>
							<xsd:restriction base="xsd:token">
								<xsd:maxLength value="100" />
							</xsd:restriction>
						</xsd:simpleType>
						<xsd:simpleType>
							<xsd:restriction base="xsd:token">
								<xsd:enumeration value="abandoned" />
								<xsd:enumeration value="achieved" />
								<xsd:enumeration value="goal revised" />
								<xsd:enumeration value="partially achieved" />
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:union>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="outcomeDate" minOccurs="0" maxOccurs="1"
				type="xsd:dateTime" />
			<xsd:element name="projectedFollowupDate" minOccurs="0"
				maxOccurs="1" type="xsd:dateTime" />
			<xsd:element name="followupMade" minOccurs="0" maxOccurs="1"
				type="xsd:boolean" />
			<xsd:element name="actualFollowupDate" minOccurs="0"
				maxOccurs="1" type="xsd:dateTime" />
			<xsd:element name="followupOutcome" minOccurs="0"
				maxOccurs="1">
				<xsd:simpleType>
					<xsd:union>
						<xsd:simpleType>
							<xsd:restriction base="xsd:token">
								<xsd:maxLength value="100" />
							</xsd:restriction>
						</xsd:simpleType>
						<xsd:simpleType>
							<xsd:restriction base="xsd:token">
								<xsd:enumeration value="abandoned" />
								<xsd:enumeration value="achieved" />
								<xsd:enumeration value="goal revised" />
								<xsd:enumeration value="partially achieved" />
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:union>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="household" maxOccurs="1" type="legacyIDType"
				minOccurs="0" />
			<xsd:element name="childActionstep" minOccurs="0"
				maxOccurs="1">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="Actionstep" type="Actionstep"
							minOccurs="0" maxOccurs="unbounded" />
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="childCasenote" minOccurs="0"
				maxOccurs="1">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="Casenote" type="Casenote"
							minOccurs="0" maxOccurs="unbounded" />
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
		</xsd:all>
		<xsd:attributeGroup ref="entityIdentifierGroup" />
	</xsd:complexType>
	<xsd:complexType name="Household">
		<xsd:all>
			<xsd:element name="active" minOccurs="0" maxOccurs="1"
				type="xsd:boolean" />
			<xsd:element name="type" minOccurs="1" maxOccurs="1">
				<xsd:simpleType>
					<xsd:union>
						<xsd:simpleType>
							<xsd:restriction base="xsd:token">
								<xsd:maxLength value="100" />
							</xsd:restriction>
						</xsd:simpleType>
						<xsd:simpleType>
							<xsd:restriction base="xsd:token">
								<xsd:enumeration value="couple with no children" />
								<xsd:enumeration value="dual parent-married" />
								<xsd:enumeration
									value="dual parent-non married female head of household" />
								<xsd:enumeration
									value="dual parent-non married male head of household" />
								<xsd:enumeration value="female single parent" />
								<xsd:enumeration value="foster parent(s)" />
								<xsd:enumeration value="grandparent(s) and child" />
								<xsd:enumeration value="male single parent" />
								<xsd:enumeration value="no dependent-married" />
								<xsd:enumeration value="no dependents-couple, non married" />
								<xsd:enumeration value="no dependents-single male" />
								<xsd:enumeration value="non-custodial caregiver(s)" />
								<xsd:enumeration value="other" />
								<xsd:enumeration value="other-non relative" />
								<xsd:enumeration
									value="other-relative/kinship care-female head of household" />
								<xsd:enumeration
									value="other-relative/kinship care-male head of household" />
								<xsd:enumeration value="other-relative/kinship care-married" />
								<xsd:enumeration value="single female" />
								<xsd:enumeration value="single parent-female head of household" />
								<xsd:enumeration value="single parent-male head of household" />
								<xsd:enumeration value="two parent family" />
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:union>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="childHouseholdRelation" minOccurs="0"
				maxOccurs="1">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="HouseholdRelation" type="HouseholdRelation"
							minOccurs="0" maxOccurs="unbounded" />
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
		</xsd:all>
		<xsd:attributeGroup ref="entityIdentifierGroup" />
	</xsd:complexType>
	<xsd:complexType name="HouseholdRelation">
		<xsd:all>
			<xsd:element name="active" minOccurs="0" maxOccurs="1"
				type="xsd:boolean" />
			<xsd:element name="client" maxOccurs="1" type="legacyIDType"
				minOccurs="0" />
			<xsd:element name="household" maxOccurs="1" type="legacyIDType"
				minOccurs="0" />
			<xsd:element name="dateEntered" minOccurs="0" maxOccurs="1"
				type="xsd:dateTime" />
			<xsd:element name="dateEnded" minOccurs="0" maxOccurs="1"
				type="xsd:dateTime" />
			<xsd:element name="relationshipValue" minOccurs="0"
				maxOccurs="1">
				<xsd:simpleType>
					<xsd:union>
						<xsd:simpleType>
							<xsd:restriction base="xsd:token">
								<xsd:maxLength value="100" />
							</xsd:restriction>
						</xsd:simpleType>
						<xsd:simpleType>
							<xsd:restriction base="xsd:token">
								<xsd:enumeration value="daughter" />
								<xsd:enumeration value="father" />
								<xsd:enumeration value="granddaughter" />
								<xsd:enumeration value="grandfather" />
								<xsd:enumeration value="grandmother" />
								<xsd:enumeration value="grandson" />
								<xsd:enumeration value="husband" />
								<xsd:enumeration value="husband and father" />
								<xsd:enumeration value="mother" />
								<xsd:enumeration value="other non-relative" />
								<xsd:enumeration value="other relative" />
								<xsd:enumeration value="self" />
								<xsd:enumeration value="significant other" />
								<xsd:enumeration value="son" />
								<xsd:enumeration value="step-daughter" />
								<xsd:enumeration value="step-son" />
								<xsd:enumeration value="unknown" />
								<xsd:enumeration value="wife" />
								<xsd:enumeration value="wife and mother" />
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:union>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="headOfHousehold" minOccurs="0"
				maxOccurs="1" type="xsd:boolean" />
		</xsd:all>
		<xsd:attributeGroup ref="entityIdentifierGroup" />
	</xsd:complexType>
	<xsd:complexType name="Infraction">
		<xsd:all>
			<xsd:element name="active" minOccurs="0" maxOccurs="1"
				type="xsd:boolean" />
			<xsd:element name="client" maxOccurs="1" type="legacyIDType"
				minOccurs="0" />
			<xsd:element name="provider" maxOccurs="1" type="legacyIDType"
				minOccurs="1" />
			<xsd:element name="barStartDate" minOccurs="1" maxOccurs="1"
				type="xsd:dateTime" />
			<xsd:element name="barEndDate" minOccurs="0" maxOccurs="1"
				type="xsd:dateTime" />
			<xsd:element name="infractionValue" minOccurs="0"
				maxOccurs="1">
				<xsd:simpleType>
					<xsd:union>
						<xsd:simpleType>
							<xsd:restriction base="xsd:token">
								<xsd:maxLength value="100" />
							</xsd:restriction>
						</xsd:simpleType>
						<xsd:simpleType>
							<xsd:restriction base="xsd:token">
								<xsd:enumeration value="alcohol" />
								<xsd:enumeration value="disagreement with rules/persons" />
								<xsd:enumeration value="disrespectful behavior" />
								<xsd:enumeration value="drugs" />
								<xsd:enumeration value="non-compliance with program" />
								<xsd:enumeration value="non-payment of rent" />
								<xsd:enumeration value="nonviolent criminal activity" />
								<xsd:enumeration value="refusal to participate" />
								<xsd:enumeration value="time limit expired" />
								<xsd:enumeration value="violent behavior" />
								<xsd:enumeration value="voucher funds exhausted" />
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:union>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="staffPerson" minOccurs="0" maxOccurs="1">
				<xsd:simpleType>
					<xsd:restriction base="xsd:token">
						<xsd:maxLength value="100" />
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="barFromSites" minOccurs="0" maxOccurs="1">
				<xsd:simpleType>
					<xsd:restriction base="xsd:token">
						<xsd:maxLength value="2147483647" />
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="notes" minOccurs="0" maxOccurs="1">
				<xsd:simpleType>
					<xsd:restriction base="xsd:token">
						<xsd:maxLength value="2147483647" />
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="barcodeValue" minOccurs="0" maxOccurs="1">
				<xsd:simpleType>
					<xsd:union>
						<xsd:simpleType>
							<xsd:restriction base="xsd:token">
								<xsd:maxLength value="100" />
							</xsd:restriction>
						</xsd:simpleType>
						<xsd:simpleType>
							<xsd:restriction base="xsd:token">
								<xsd:enumeration value="001" />
								<xsd:enumeration value="002" />
								<xsd:enumeration value="003" />
								<xsd:enumeration value="004" />
								<xsd:enumeration value="005" />
								<xsd:enumeration value="006" />
								<xsd:enumeration value="007" />
								<xsd:enumeration value="008" />
								<xsd:enumeration value="009" />
								<xsd:enumeration value="010" />
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:union>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="coveredByRoi" minOccurs="0" maxOccurs="1"
				type="xsd:boolean" />
		</xsd:all>
		<xsd:attributeGroup ref="entityIdentifierGroup" />
	</xsd:complexType>
	<xsd:complexType name="Need">
		<xsd:all>
			<xsd:element name="active" minOccurs="0" maxOccurs="1"
				type="xsd:boolean" />
			<xsd:element name="client" maxOccurs="1" type="legacyIDType"
				minOccurs="0" />
			<xsd:element name="provider" maxOccurs="1" type="legacyIDType"
				minOccurs="1" />
			<xsd:element name="goal" maxOccurs="1" type="legacyIDType"
				minOccurs="0" />
			<xsd:element name="group" minOccurs="0" maxOccurs="1">
				<xsd:simpleType>
					<xsd:restriction base="xsd:token">
						<xsd:maxLength value="256" />
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="dateSet" minOccurs="1" maxOccurs="1"
				type="xsd:dateTime" />
			<xsd:element name="amount" minOccurs="0" maxOccurs="1"
				type="xsd:double" />
			<xsd:element name="status" minOccurs="1" maxOccurs="1">
				<xsd:simpleType>
					<xsd:union>
						<xsd:simpleType>
							<xsd:restriction base="xsd:token">
								<xsd:maxLength value="100" />
							</xsd:restriction>
						</xsd:simpleType>
						<xsd:simpleType>
							<xsd:restriction base="xsd:token">
								<xsd:enumeration value="closed" />
								<xsd:enumeration value="identified" />
								<xsd:enumeration value="in progress" />
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:union>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="outcome" minOccurs="0" maxOccurs="1">
				<xsd:simpleType>
					<xsd:union>
						<xsd:simpleType>
							<xsd:restriction base="xsd:token">
								<xsd:maxLength value="100" />
							</xsd:restriction>
						</xsd:simpleType>
						<xsd:simpleType>
							<xsd:restriction base="xsd:token">
								<xsd:enumeration value="fully met" />
								<xsd:enumeration value="not met" />
								<xsd:enumeration value="partially met" />
								<xsd:enumeration value="service pending" />
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:union>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="reasonUnmet" minOccurs="0" maxOccurs="1">
				<xsd:simpleType>
					<xsd:union>
						<xsd:simpleType>
							<xsd:restriction base="xsd:token">
								<xsd:maxLength value="100" />
							</xsd:restriction>
						</xsd:simpleType>
						<xsd:simpleType>
							<xsd:restriction base="xsd:token">
								<xsd:enumeration value="all services full" />
								<xsd:enumeration value="client not eligible" />
								<xsd:enumeration value="client refused service" />
								<xsd:enumeration value="need met by other provider" />
								<xsd:enumeration value="service not longer existed" />
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:union>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="household" maxOccurs="1" type="legacyIDType"
				minOccurs="0" />
			<xsd:element name="code" minOccurs="1" maxOccurs="1"
				type="serviceCodeType" />
			<xsd:element name="note" minOccurs="0" maxOccurs="1">
				<xsd:simpleType>
					<xsd:restriction base="xsd:token">
						<xsd:maxLength value="2147483647" />
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="childService" minOccurs="0" maxOccurs="1">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="Service" type="Service" minOccurs="0"
							maxOccurs="unbounded" />
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
		</xsd:all>
		<xsd:attributeGroup ref="entityIdentifierGroup" />
	</xsd:complexType>
	<xsd:complexType name="Provider">
		<xsd:all>
			<xsd:element name="parentProvider" maxOccurs="1"
				type="legacyIDType" minOccurs="0" />
			<xsd:element name="name" minOccurs="1" maxOccurs="1">
				<xsd:simpleType>
					<xsd:restriction base="xsd:token">
						<xsd:maxLength value="100" />
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="area" minOccurs="0" maxOccurs="1">
				<xsd:simpleType>
					<xsd:union>
						<xsd:simpleType>
							<xsd:restriction base="xsd:token">
								<xsd:maxLength value="100" />
							</xsd:restriction>
						</xsd:simpleType>
						<xsd:simpleType>
							<xsd:restriction base="xsd:token">
								<xsd:enumeration value="all areas" />
								<xsd:enumeration value="central" />
								<xsd:enumeration value="east" />
								<xsd:enumeration value="north" />
								<xsd:enumeration value="northeast" />
								<xsd:enumeration value="northwest" />
								<xsd:enumeration value="south" />
								<xsd:enumeration value="southeast" />
								<xsd:enumeration value="southwest" />
								<xsd:enumeration value="west" />
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:union>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="websiteAddress" minOccurs="0"
				maxOccurs="1">
				<xsd:simpleType>
					<xsd:restriction base="xsd:token">
						<xsd:maxLength value="150" />
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="providerTypeValue" minOccurs="0"
				maxOccurs="1">
				<xsd:simpleType>
					<xsd:union>
						<xsd:simpleType>
							<xsd:restriction base="xsd:token">
								<xsd:maxLength value="100" />
							</xsd:restriction>
						</xsd:simpleType>
						<xsd:simpleType>
							<xsd:restriction base="xsd:token">
								<xsd:enumeration value="city/county(parish)" />
								<xsd:enumeration value="faith based , non profit" />
								<xsd:enumeration value="federal" />
								<xsd:enumeration value="for profit" />
								<xsd:enumeration value="other" />
								<xsd:enumeration value="private individual" />
								<xsd:enumeration value="private, non-profit" />
								<xsd:enumeration value="public service" />
								<xsd:enumeration value="sheriff/police" />
								<xsd:enumeration value="state" />
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:union>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="showOnPublicSite" minOccurs="0"
				maxOccurs="1" type="xsd:boolean" />
			<xsd:element name="printedDirectory" minOccurs="0"
				maxOccurs="1" type="xsd:boolean" />
			<xsd:element name="description" minOccurs="0" maxOccurs="1">
				<xsd:simpleType>
					<xsd:restriction base="xsd:token">
						<xsd:maxLength value="2147483647" />
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="handicapAccess" minOccurs="0"
				maxOccurs="1" type="xsd:boolean" />
			<xsd:element name="brochures" minOccurs="0" maxOccurs="1"
				type="xsd:boolean" />
			<xsd:element name="hours" minOccurs="0" maxOccurs="1">
				<xsd:simpleType>
					<xsd:restriction base="xsd:token">
						<xsd:maxLength value="1000" />
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="zipsServed" minOccurs="0" maxOccurs="1">
				<xsd:simpleType>
					<xsd:restriction base="xsd:token">
						<xsd:maxLength value="2147483647" />
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="programFees" minOccurs="0" maxOccurs="1">
				<xsd:simpleType>
					<xsd:restriction base="xsd:token">
						<xsd:maxLength value="2147483647" />
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="intakeProcedure" minOccurs="0"
				maxOccurs="1">
				<xsd:simpleType>
					<xsd:restriction base="xsd:token">
						<xsd:maxLength value="2147483647" />
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="eligibility" minOccurs="0" maxOccurs="1">
				<xsd:simpleType>
					<xsd:restriction base="xsd:token">
						<xsd:maxLength value="2147483647" />
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="languages" minOccurs="0" maxOccurs="1">
				<xsd:simpleType>
					<xsd:restriction base="xsd:token">
						<xsd:maxLength value="255" />
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="active" minOccurs="0" maxOccurs="1"
				type="xsd:boolean" />
			<xsd:element name="incomePeriod" minOccurs="0" maxOccurs="1"
				type="xsd:integer" />
			<xsd:element name="wishlist" minOccurs="0" maxOccurs="1">
				<xsd:simpleType>
					<xsd:restriction base="xsd:token">
						<xsd:maxLength value="2147483647" />
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="volunteerOps" minOccurs="0" maxOccurs="1">
				<xsd:simpleType>
					<xsd:restriction base="xsd:token">
						<xsd:maxLength value="2147483647" />
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="fipsCode" minOccurs="0" maxOccurs="1">
				<xsd:simpleType>
					<xsd:restriction base="xsd:token">
						<xsd:maxLength value="20" />
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="facilityCode" minOccurs="0" maxOccurs="1">
				<xsd:simpleType>
					<xsd:restriction base="xsd:token">
						<xsd:maxLength value="30" />
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="cocCode" minOccurs="0" maxOccurs="1">
				<xsd:simpleType>
					<xsd:restriction base="xsd:token">
						<xsd:maxLength value="30" />
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="programTypeCodeValue" minOccurs="0"
				maxOccurs="1">
				<xsd:simpleType>
					<xsd:union>
						<xsd:simpleType>
							<xsd:restriction base="xsd:token">
								<xsd:maxLength value="100" />
							</xsd:restriction>
						</xsd:simpleType>
						<xsd:simpleType>
							<xsd:restriction base="xsd:token">
								<xsd:enumeration value="emergency shelter (hud)" />
								<xsd:enumeration
									value="homelessness prevention and rapid re-housing (hud)" />
								<xsd:enumeration value="homeless outreach (hud)" />
								<xsd:enumeration value="other (hud)" />
								<xsd:enumeration
									value="permanent housing (e.g., mod rehab sro, subsidized housing without services) (hud)" />
								<xsd:enumeration value="permanent supportive housing (hud)" />
								<xsd:enumeration value="safe haven (hud)" />
								<xsd:enumeration value="services only program (hud)" />
								<xsd:enumeration value="transitional housing (hud)" />
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:union>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="aka" minOccurs="0" maxOccurs="1">
				<xsd:simpleType>
					<xsd:restriction base="xsd:token">
						<xsd:maxLength value="100" />
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="employerIdNumber" minOccurs="0"
				maxOccurs="1" type="xsd:integer" />
			<xsd:element name="yearCorp" minOccurs="0" maxOccurs="1"
				type="xsd:integer" />
			<xsd:element name="resourceNotes" minOccurs="0"
				maxOccurs="1">
				<xsd:simpleType>
					<xsd:restriction base="xsd:token">
						<xsd:maxLength value="2147483647" />
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="facilityTypeValue" minOccurs="0"
				maxOccurs="1">
				<xsd:simpleType>
					<xsd:union>
						<xsd:simpleType>
							<xsd:restriction base="xsd:token">
								<xsd:maxLength value="100" />
							</xsd:restriction>
						</xsd:simpleType>
						<xsd:simpleType>
							<xsd:restriction base="xsd:token">
								<xsd:enumeration value="adult school" />
								<xsd:enumeration value="hospital" />
								<xsd:enumeration value="school" />
								<xsd:enumeration value="senior center" />
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:union>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="capacityType" minOccurs="0" maxOccurs="1">
				<xsd:simpleType>
					<xsd:restriction base="xsd:token">
						<xsd:maxLength value="2147483647" />
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="serviceCapacity" minOccurs="0"
				maxOccurs="1">
				<xsd:simpleType>
					<xsd:restriction base="xsd:token">
						<xsd:maxLength value="2147483647" />
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="paymentMethodsAccepted" minOccurs="0"
				maxOccurs="1" type="xsd:integer" />
			<xsd:element name="hudCompliant" minOccurs="0" maxOccurs="1"
				type="xsd:boolean" />
			<xsd:element name="airsCompliant" minOccurs="0"
				maxOccurs="1" type="xsd:boolean" />
			<xsd:element name="primaryAddress" maxOccurs="1"
				type="legacyIDType" minOccurs="0" />
			<xsd:element name="primaryTelephone" maxOccurs="1"
				type="legacyIDType" minOccurs="0" />
			<xsd:element name="operational" minOccurs="0" maxOccurs="1"
				type="xsd:boolean" />
			<xsd:element name="primaryContact" maxOccurs="1"
				type="legacyIDType" minOccurs="0" />
			<xsd:element name="siteInformation" minOccurs="0"
				maxOccurs="1">
				<xsd:simpleType>
					<xsd:restriction base="xsd:token">
						<xsd:enumeration value="multiple sites" />
						<xsd:enumeration value="single site, multiple buildings" />
						<xsd:enumeration value="single site, single building" />
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="hudSiteType" minOccurs="0" maxOccurs="1">
				<xsd:simpleType>
					<xsd:restriction base="xsd:token">
						<xsd:enumeration value="non-residential: services only" />
						<xsd:enumeration
							value="residential: special needs and non-special needs" />
						<xsd:enumeration value="residential: special needs only" />
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="hudHousingType" minOccurs="0"
				maxOccurs="1">
				<xsd:simpleType>
					<xsd:restriction base="xsd:token">
						<xsd:enumeration value="dormitory/hotel/motel" />
						<xsd:enumeration value="mass shelter/barracks" />
						<xsd:enumeration value="non applicable: non-residential program" />
						<xsd:enumeration value="shared housing" />
						<xsd:enumeration value="single apartment (non-sro) units" />
						<xsd:enumeration value="single homes/townhouses/duplexes" />
						<xsd:enumeration value="single room occupancy (sro) units" />
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="hudTrackingMethod" minOccurs="0"
				maxOccurs="1">
				<xsd:simpleType>
					<xsd:restriction base="xsd:token">
						<xsd:enumeration value="bed management model" />
						<xsd:enumeration value="program entry and exit comparison" />
						<xsd:enumeration value="service transaction model" />
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="hudGranteeId" minOccurs="0" maxOccurs="1">
				<xsd:simpleType>
					<xsd:restriction base="xsd:token">
						<xsd:maxLength value="30" />
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="hudOrganization" maxOccurs="1"
				type="legacyIDType" minOccurs="0" />
			<xsd:element name="childProviderAddress" minOccurs="0"
				maxOccurs="1">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="ProviderAddress" type="ProviderAddress"
							minOccurs="0" maxOccurs="unbounded" />
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="childProviderSpecificService"
				minOccurs="0" maxOccurs="1">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="ProviderSpecificService" type="ProviderSpecificService"
							minOccurs="0" maxOccurs="unbounded" />
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="childProviderServiceCode" minOccurs="0"
				maxOccurs="1">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="ProviderServiceCode" type="ProviderServiceCode"
							minOccurs="0" maxOccurs="unbounded" />
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="childProviderContact" minOccurs="0"
				maxOccurs="1">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="ProviderContact" type="ProviderContact"
							minOccurs="0" maxOccurs="unbounded" />
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="assessmentData" type="dynamicContentType"
				minOccurs="0" maxOccurs="1" />
		</xsd:all>
		<xsd:attributeGroup ref="entityIdentifierGroup" />
	</xsd:complexType>
	<xsd:complexType name="ProviderAddress">
		<xsd:all>
			<xsd:element name="provider" maxOccurs="1" type="legacyIDType"
				minOccurs="0" />
			<xsd:element name="line1" minOccurs="0" maxOccurs="1">
				<xsd:simpleType>
					<xsd:restriction base="xsd:token">
						<xsd:maxLength value="255" />
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="line2" minOccurs="0" maxOccurs="1">
				<xsd:simpleType>
					<xsd:restriction base="xsd:token">
						<xsd:maxLength value="255" />
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="city" minOccurs="0" maxOccurs="1">
				<xsd:simpleType>
					<xsd:restriction base="xsd:token">
						<xsd:maxLength value="255" />
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="province" minOccurs="0" maxOccurs="1">
				<xsd:simpleType>
					<xsd:restriction base="xsd:token">
						<xsd:maxLength value="3" />
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="postalCode" minOccurs="0" maxOccurs="1">
				<xsd:simpleType>
					<xsd:restriction base="xsd:token">
						<xsd:maxLength value="16" />
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="country" minOccurs="0" maxOccurs="1">
				<xsd:simpleType>
					<xsd:restriction base="xsd:token">
						<xsd:maxLength value="3" />
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="latitude" minOccurs="0" maxOccurs="1"
				type="xsd:double" />
			<xsd:element name="longitude" minOccurs="0" maxOccurs="1"
				type="xsd:double" />
			<xsd:element name="addressType" minOccurs="1" maxOccurs="1">
				<xsd:simpleType>
					<xsd:restriction base="xsd:token">
						<xsd:enumeration value="mailing" />
						<xsd:enumeration value="physical" />
						<xsd:enumeration value="p.o. box" />
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="area" minOccurs="0" maxOccurs="1">
				<xsd:simpleType>
					<xsd:union>
						<xsd:simpleType>
							<xsd:restriction base="xsd:token">
								<xsd:maxLength value="100" />
							</xsd:restriction>
						</xsd:simpleType>
						<xsd:simpleType>
							<xsd:restriction base="xsd:token">
								<xsd:enumeration value="all areas" />
								<xsd:enumeration value="central" />
								<xsd:enumeration value="east" />
								<xsd:enumeration value="north" />
								<xsd:enumeration value="northeast" />
								<xsd:enumeration value="northwest" />
								<xsd:enumeration value="south" />
								<xsd:enumeration value="southeast" />
								<xsd:enumeration value="southwest" />
								<xsd:enumeration value="west" />
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:union>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="landmarks" minOccurs="0" maxOccurs="1">
				<xsd:simpleType>
					<xsd:restriction base="xsd:token">
						<xsd:maxLength value="2147483647" />
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="county" minOccurs="0" maxOccurs="1">
				<xsd:simpleType>
					<xsd:restriction base="xsd:token">
						<xsd:maxLength value="255" />
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="active" minOccurs="0" maxOccurs="1"
				type="xsd:boolean" />
		</xsd:all>
		<xsd:attributeGroup ref="entityIdentifierGroup" />
	</xsd:complexType>
	<xsd:complexType name="ProviderContact">
		<xsd:all>
			<xsd:element name="provider" maxOccurs="1" type="legacyIDType"
				minOccurs="0" />
			<xsd:element name="name" minOccurs="0" maxOccurs="1">
				<xsd:simpleType>
					<xsd:restriction base="xsd:token">
						<xsd:maxLength value="255" />
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="title" minOccurs="0" maxOccurs="1">
				<xsd:simpleType>
					<xsd:restriction base="xsd:token">
						<xsd:maxLength value="255" />
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="description" minOccurs="0" maxOccurs="1">
				<xsd:simpleType>
					<xsd:restriction base="xsd:token">
						<xsd:maxLength value="255" />
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="email" minOccurs="0" maxOccurs="1">
				<xsd:simpleType>
					<xsd:restriction base="xsd:token">
						<xsd:maxLength value="255" />
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="phone" minOccurs="0" maxOccurs="1">
				<xsd:simpleType>
					<xsd:restriction base="xsd:token">
						<xsd:maxLength value="25" />
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="telephoneAreacode" minOccurs="0"
				maxOccurs="1">
				<xsd:simpleType>
					<xsd:restriction base="xsd:token">
						<xsd:maxLength value="3" />
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="telephonePrefix" minOccurs="0"
				maxOccurs="1">
				<xsd:simpleType>
					<xsd:restriction base="xsd:token">
						<xsd:maxLength value="3" />
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="telephoneLine" minOccurs="0"
				maxOccurs="1">
				<xsd:simpleType>
					<xsd:restriction base="xsd:token">
						<xsd:maxLength value="4" />
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="telephoneExtension" minOccurs="0"
				maxOccurs="1">
				<xsd:simpleType>
					<xsd:restriction base="xsd:token">
						<xsd:maxLength value="5" />
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="hideFromProviderProfile" minOccurs="0"
				maxOccurs="1" type="xsd:boolean" />
			<xsd:element name="active" minOccurs="0" maxOccurs="1"
				type="xsd:boolean" />
			<xsd:element name="websiteAddress" minOccurs="0"
				maxOccurs="1">
				<xsd:simpleType>
					<xsd:restriction base="xsd:token">
						<xsd:maxLength value="150" />
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="notes" minOccurs="0" maxOccurs="1">
				<xsd:simpleType>
					<xsd:restriction base="xsd:token">
						<xsd:maxLength value="2147483647" />
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
		</xsd:all>
		<xsd:attributeGroup ref="entityIdentifierGroup" />
	</xsd:complexType>
	<xsd:complexType name="ProviderEmergencyServiceCode">
		<xsd:all>
			<xsd:element name="provider" maxOccurs="1" type="legacyIDType"
				minOccurs="0" />
			<xsd:element name="serviceCode" minOccurs="1" maxOccurs="1"
				type="serviceCodeType" />
		</xsd:all>
		<xsd:attributeGroup ref="entityIdentifierGroup" />
	</xsd:complexType>
	<xsd:complexType name="ProviderServedArea">
		<xsd:all>
			<xsd:element name="provider" maxOccurs="1" type="legacyIDType"
				minOccurs="0" />
			<xsd:element name="area" minOccurs="1" maxOccurs="1">
				<xsd:simpleType>
					<xsd:union>
						<xsd:simpleType>
							<xsd:restriction base="xsd:token">
								<xsd:maxLength value="100" />
							</xsd:restriction>
						</xsd:simpleType>
						<xsd:simpleType>
							<xsd:restriction base="xsd:token">
								<xsd:enumeration value="all areas" />
								<xsd:enumeration value="central" />
								<xsd:enumeration value="east" />
								<xsd:enumeration value="north" />
								<xsd:enumeration value="northeast" />
								<xsd:enumeration value="northwest" />
								<xsd:enumeration value="south" />
								<xsd:enumeration value="southeast" />
								<xsd:enumeration value="southwest" />
								<xsd:enumeration value="west" />
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:union>
				</xsd:simpleType>
			</xsd:element>
		</xsd:all>
		<xsd:attributeGroup ref="entityIdentifierGroup" />
	</xsd:complexType>
	<xsd:complexType name="ProviderServedCity">
		<xsd:all>
			<xsd:element name="provider" maxOccurs="1" type="legacyIDType"
				minOccurs="0" />
			<xsd:element name="autoUpdate" minOccurs="0" maxOccurs="1"
				type="xsd:boolean" />
			<xsd:element name="insertByTrigger" minOccurs="0"
				maxOccurs="1" type="xsd:boolean" />
			<xsd:element name="city" minOccurs="1" maxOccurs="1">
				<xsd:simpleType>
					<xsd:restriction base="xsd:token">
						<xsd:maxLength value="12" />
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="childProviderServedZipCode" minOccurs="0"
				maxOccurs="1">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="ProviderServedZipCode" type="ProviderServedZipCode"
							minOccurs="0" maxOccurs="unbounded" />
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
		</xsd:all>
		<xsd:attributeGroup ref="entityIdentifierGroup" />
	</xsd:complexType>
	<xsd:complexType name="ProviderServedCounty">
		<xsd:all>
			<xsd:element name="provider" maxOccurs="1" type="legacyIDType"
				minOccurs="0" />
			<xsd:element name="autoUpdate" minOccurs="0" maxOccurs="1"
				type="xsd:boolean" />
			<xsd:element name="insertByTrigger" minOccurs="0"
				maxOccurs="1" type="xsd:boolean" />
			<xsd:element name="county" minOccurs="1" maxOccurs="1">
				<xsd:simpleType>
					<xsd:restriction base="xsd:token">
						<xsd:maxLength value="12" />
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="childProviderServedCity" minOccurs="0"
				maxOccurs="1">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="ProviderServedCity" type="ProviderServedCity"
							minOccurs="0" maxOccurs="unbounded" />
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
		</xsd:all>
		<xsd:attributeGroup ref="entityIdentifierGroup" />
	</xsd:complexType>
	<xsd:complexType name="ProviderServedState">
		<xsd:all>
			<xsd:element name="provider" maxOccurs="1" type="legacyIDType"
				minOccurs="0" />
			<xsd:element name="autoUpdate" minOccurs="0" maxOccurs="1"
				type="xsd:boolean" />
			<xsd:element name="insertByTrigger" minOccurs="0"
				maxOccurs="1" type="xsd:boolean" />
			<xsd:element name="state" minOccurs="1" maxOccurs="1">
				<xsd:simpleType>
					<xsd:restriction base="xsd:token">
						<xsd:maxLength value="12" />
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="childProviderServedCounty" minOccurs="0"
				maxOccurs="1">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="ProviderServedCounty" type="ProviderServedCounty"
							minOccurs="0" maxOccurs="unbounded" />
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
		</xsd:all>
		<xsd:attributeGroup ref="entityIdentifierGroup" />
	</xsd:complexType>
	<xsd:complexType name="ProviderServedZipCode">
		<xsd:all>
			<xsd:element name="provider" maxOccurs="1" type="legacyIDType"
				minOccurs="0" />
			<xsd:element name="insertByTrigger" minOccurs="0"
				maxOccurs="1" type="xsd:boolean" />
			<xsd:element name="zipCode" minOccurs="1" maxOccurs="1">
				<xsd:simpleType>
					<xsd:restriction base="xsd:token">
						<xsd:maxLength value="12" />
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
		</xsd:all>
		<xsd:attributeGroup ref="entityIdentifierGroup" />
	</xsd:complexType>
	<xsd:complexType name="ProviderServiceCode">
		<xsd:all>
			<xsd:element name="provider" maxOccurs="1" type="legacyIDType"
				minOccurs="0" />
			<xsd:element name="serviceCode" minOccurs="1" maxOccurs="1"
				type="serviceCodeType" />
			<xsd:element name="typeService" minOccurs="0" maxOccurs="1">
				<xsd:simpleType>
					<xsd:restriction base="xsd:token">
						<xsd:maxLength value="25" />
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="outOfResource" minOccurs="0"
				maxOccurs="1" type="xsd:boolean" />
			<xsd:element name="childProviderServiceCodeModifier"
				minOccurs="0" maxOccurs="1">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="ProviderServiceCodeModifier" type="ProviderServiceCodeModifier"
							minOccurs="0" maxOccurs="unbounded" />
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
		</xsd:all>
		<xsd:attributeGroup ref="entityIdentifierGroup" />
	</xsd:complexType>
	<xsd:complexType name="ProviderServiceCodeModifier">
		<xsd:all>
			<xsd:element name="providerServiceCode" maxOccurs="1"
				type="legacyIDType" minOccurs="0" />
			<xsd:element name="serviceCode" minOccurs="1" maxOccurs="1"
				type="serviceCodeType" />
			<xsd:element name="typeServiceModifier" minOccurs="1"
				maxOccurs="1">
				<xsd:simpleType>
					<xsd:restriction base="xsd:token">
						<xsd:maxLength value="50" />
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
		</xsd:all>
		<xsd:attributeGroup ref="entityIdentifierGroup" />
	</xsd:complexType>
	<xsd:complexType name="ProviderServiceUnit">
		<xsd:all>
			<xsd:element name="provider" maxOccurs="1" type="legacyIDType"
				minOccurs="0" />
			<xsd:element name="unitValue" minOccurs="1" maxOccurs="1">
				<xsd:simpleType>
					<xsd:union>
						<xsd:simpleType>
							<xsd:restriction base="xsd:token">
								<xsd:maxLength value="100" />
							</xsd:restriction>
						</xsd:simpleType>
						<xsd:simpleType>
							<xsd:restriction base="xsd:token">
								<xsd:enumeration value="one month rent arrearage" />
								<xsd:enumeration value="one month utility arrearage" />
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:union>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="active" minOccurs="0" maxOccurs="1"
				type="xsd:boolean" />
		</xsd:all>
		<xsd:attributeGroup ref="entityIdentifierGroup" />
	</xsd:complexType>
	<xsd:complexType name="ProviderSpecificService">
		<xsd:all>
			<xsd:element name="provider" maxOccurs="1" type="legacyIDType"
				minOccurs="0" />
			<xsd:element name="name" minOccurs="1" maxOccurs="1">
				<xsd:simpleType>
					<xsd:restriction base="xsd:token">
						<xsd:maxLength value="100" />
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="active" minOccurs="0" maxOccurs="1"
				type="xsd:boolean" />
		</xsd:all>
		<xsd:attributeGroup ref="entityIdentifierGroup" />
	</xsd:complexType>
	<xsd:complexType name="ReleaseOfInfo">
		<xsd:all>
			<xsd:element name="active" minOccurs="0" maxOccurs="1"
				type="xsd:boolean" />
			<xsd:element name="client" maxOccurs="1" type="legacyIDType"
				minOccurs="0" />
			<xsd:element name="provider" maxOccurs="1" type="legacyIDType"
				minOccurs="1" />
			<xsd:element name="dateStarted" minOccurs="0" maxOccurs="1"
				type="xsd:dateTime" />
			<xsd:element name="dateEnded" minOccurs="0" maxOccurs="1"
				type="xsd:dateTime" />
			<xsd:element name="permission" minOccurs="1" maxOccurs="1"
				type="xsd:boolean" />
			<xsd:element name="documentation" minOccurs="0"
				maxOccurs="1">
				<xsd:simpleType>
					<xsd:union>
						<xsd:simpleType>
							<xsd:restriction base="xsd:token">
								<xsd:maxLength value="100" />
							</xsd:restriction>
						</xsd:simpleType>
						<xsd:simpleType>
							<xsd:restriction base="xsd:token">
								<xsd:enumeration value="signed consent from client" />
								<xsd:enumeration value="signed release of information from client" />
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:union>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="witness" minOccurs="0" maxOccurs="1">
				<xsd:simpleType>
					<xsd:restriction base="xsd:token">
						<xsd:maxLength value="50" />
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="household" maxOccurs="1" type="legacyIDType"
				minOccurs="0" />
		</xsd:all>
		<xsd:attributeGroup ref="entityIdentifierGroup" />
	</xsd:complexType>
	<xsd:complexType name="Service">
		<xsd:all>
			<xsd:element name="active" minOccurs="0" maxOccurs="1"
				type="xsd:boolean" />
			<xsd:element name="client" maxOccurs="1" type="legacyIDType"
				minOccurs="0" />
			<xsd:element name="need" maxOccurs="1" type="legacyIDType"
				minOccurs="0" />
			<xsd:element name="group" minOccurs="0" maxOccurs="1">
				<xsd:simpleType>
					<xsd:restriction base="xsd:token">
						<xsd:maxLength value="256" />
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="refertoProvider" maxOccurs="1"
				type="legacyIDType" minOccurs="0" />
			<xsd:element name="referDate" minOccurs="0" maxOccurs="1"
				type="xsd:dateTime" />
			<xsd:element name="serviceProvided" minOccurs="0"
				maxOccurs="1" type="xsd:boolean" />
			<xsd:element name="provideProvider" maxOccurs="1"
				type="legacyIDType" minOccurs="0" />
			<xsd:element name="provideStartDate" minOccurs="0"
				maxOccurs="1" type="xsd:dateTime" />
			<xsd:element name="provideEndDate" minOccurs="0"
				maxOccurs="1" type="xsd:dateTime" />
			<xsd:element name="providerCode" maxOccurs="1" type="legacyIDType"
				minOccurs="0" />
			<xsd:element name="projectedFollowupDate" minOccurs="0"
				maxOccurs="1" type="xsd:dateTime" />
			<xsd:element name="followupMade" minOccurs="0" maxOccurs="1"
				type="xsd:boolean" />
			<xsd:element name="actualFollowupDate" minOccurs="0"
				maxOccurs="1" type="xsd:dateTime" />
			<xsd:element name="referReasonUnmet" minOccurs="0"
				maxOccurs="1">
				<xsd:simpleType>
					<xsd:union>
						<xsd:simpleType>
							<xsd:restriction base="xsd:token">
								<xsd:maxLength value="100" />
							</xsd:restriction>
						</xsd:simpleType>
						<xsd:simpleType>
							<xsd:restriction base="xsd:token">
								<xsd:enumeration value="all services full" />
								<xsd:enumeration value="client not eligible" />
								<xsd:enumeration value="client refused service" />
								<xsd:enumeration value="need met by other provider" />
								<xsd:enumeration value="service not longer existed" />
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:union>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="household" maxOccurs="1" type="legacyIDType"
				minOccurs="0" />
			<xsd:element name="code" minOccurs="1" maxOccurs="1"
				type="serviceCodeType" />
			<xsd:element name="serviceNote" minOccurs="0" maxOccurs="1">
				<xsd:simpleType>
					<xsd:restriction base="xsd:token">
						<xsd:maxLength value="2147483647" />
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="referProjFollowupDate" minOccurs="0"
				maxOccurs="1" type="xsd:dateTime" />
			<xsd:element name="referActualFollowupDate" minOccurs="0"
				maxOccurs="1" type="xsd:dateTime" />
			<xsd:element name="referFollowupMade" minOccurs="0"
				maxOccurs="1" type="xsd:boolean" />
			<xsd:element name="serviceStaff" maxOccurs="1" type="legacyIDType"
				minOccurs="0" />
			<xsd:element name="costOfUnits" minOccurs="0" maxOccurs="1"
				type="xsd:double" />
			<xsd:element name="serviceUnits" minOccurs="0" maxOccurs="1"
				type="xsd:double" />
			<xsd:element name="unitType" maxOccurs="1" type="legacyIDType"
				minOccurs="0" />
			<xsd:element name="hprpFinanceAssistType" minOccurs="0"
				maxOccurs="1">
				<xsd:simpleType>
					<xsd:restriction base="xsd:token">
						<xsd:enumeration value="motel &amp; hotel vouchers" />
						<xsd:enumeration value="moving cost assistance" />
						<xsd:enumeration value="rental assistance" />
						<xsd:enumeration value="security deposits" />
						<xsd:enumeration value="utility deposits" />
						<xsd:enumeration value="utility payments" />
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="hprpHousingServ" minOccurs="0"
				maxOccurs="1">
				<xsd:simpleType>
					<xsd:restriction base="xsd:token">
						<xsd:enumeration value="case management" />
						<xsd:enumeration value="credit repair" />
						<xsd:enumeration value="housing search and placement" />
						<xsd:enumeration value="legal services" />
						<xsd:enumeration value="outreach and engagement" />
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="hprpFinancialAssistanceStartDate"
				minOccurs="0" maxOccurs="1" type="xsd:dateTime" />
		</xsd:all>
		<xsd:attributeGroup ref="entityIdentifierGroup" />
	</xsd:complexType>
	<xsd:complexType name="ServiceFundingSource">
		<xsd:all>
			<xsd:element name="cost" minOccurs="0" maxOccurs="1"
				type="xsd:double" />
			<xsd:element name="needService" maxOccurs="1" type="legacyIDType"
				minOccurs="0" />
			<xsd:element name="source" minOccurs="1" maxOccurs="1">
				<xsd:simpleType>
					<xsd:union>
						<xsd:simpleType>
							<xsd:restriction base="xsd:token">
								<xsd:maxLength value="100" />
							</xsd:restriction>
						</xsd:simpleType>
						<xsd:simpleType>
							<xsd:restriction base="xsd:token">
								<xsd:enumeration value="cap" />
								<xsd:enumeration value="cbdg city" />
								<xsd:enumeration value="cbdg county" />
								<xsd:enumeration value="efsp" />
								<xsd:enumeration value="esg city" />
								<xsd:enumeration value="esg county" />
								<xsd:enumeration value="fema" />
								<xsd:enumeration value="hopwa" />
								<xsd:enumeration value="hprp source 1" />
								<xsd:enumeration value="hprp source 2" />
								<xsd:enumeration value="hprp source 3" />
								<xsd:enumeration value="hud shelter+care" />
								<xsd:enumeration value="hud supportive housing program" />
								<xsd:enumeration value="internal budget" />
								<xsd:enumeration value="pcch challange grant" />
								<xsd:enumeration value="pcch state grant in aid (sgia)" />
								<xsd:enumeration value="saf city" />
								<xsd:enumeration value="saf county" />
								<xsd:enumeration value="title iii" />
								<xsd:enumeration value="uwtb progress energy" />
								<xsd:enumeration value="uwtb publix" />
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:union>
				</xsd:simpleType>
			</xsd:element>
		</xsd:all>
		<xsd:attributeGroup ref="entityIdentifierGroup" />
	</xsd:complexType>
</xsd:schema>